<div class='container'>

  <div *ngIf='!user'>

    <div *ngIf='!register' class='login'>
      <h2 class='mat-h2'>Log In</h2>
      <form [formGroup]="loginForm" (ngSubmit)='submitLogin()'>
        <mat-form-field>
          <input matInput placeholder='username' formControlName='username' required>
          <mat-error *ngIf="loginUsername.invalid">
            {{ getError('loginUsername') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder='password' formControlName='password' [type]='password' required>
          <mat-error *ngIf="loginPassword.invalid">
            {{ getError('loginPassword') }}
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
      <p style='text-decoration: underline; cursor:pointer' (click)='register = true'>
      register
      </p>
    </div>

    <div *ngIf='register' class='register'>
      <h2 class='mat-h2'>Register</h2>

      <form [formGroup]="registrationForm" (ngSubmit)='submitRegistration()'>
        <mat-form-field>
          <input matInput placeholder='username' formControlName='username' required>
          <mat-error *ngIf="registerUsername.invalid">
            {{ getError('registerUsername') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder='email' formControlName='email' required>
          <mat-error *ngIf="registerEmail.invalid">
            {{ getError('registerEmail') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder='password' formControlName='password' [type]='password' required>
          <mat-error *ngIf="registerPassword.invalid">
            {{ getError('registerPassword') }}
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
      <p style='text-decoration: underline; cursor:pointer' (click)='register = false'>
      back to login
      </p>
    </div>
  </div>

  <div *ngIf='user'>
    <div class='user-info'>
      <h2 class='mat-h2'>Hi {{user.username}}</h2>
      <img src='{{ user.avatar }}' class='main-avatar-img'/>
    </div>
    <h4 class='mat-h4 avatar-title'>Avatars</h4>
    <div class='avatars'>
      <div *ngFor='let avatar of avatars' class='avatar'>
        <img src='{{avatar}}' alt='{{avatar}}' class='avatar-img'/>
      </div>
    </div>
  </div>

</div>
