@import '../../sass/variables';

main {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left, .right {
  border: 3px solid whitesmoke;
  margin: 0px 5px 0px 5px;
  padding: 20px;
}

section {
}

h3 {
  text-align: center;
}

.all-friends, .all-guests {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.avatar {
  height: 60px; width: 60px;
  border-radius: $radius;
}

.friend, .guest {
  cursor: pointer;
  height: 120px;
  width: 90px;
  text-align: center;
  h3 {
    text-align: center;
  }
}

.friend {
  padding-top: 20px;
  border-radius: 3px;
  height: 120px;
  width: 90px;
  box-sizing: border-box;
}

.friend:hover {
  // background-color: lightblue;
  border: 3px dotted lightblue;
}

.find-friends-form {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-field {
  width: 70%;
}

.find-friend-submit {
  background: $primary-color;
  height: 60px;
  margin: 5px;
}

.user-icon {
  height: 30px; width: 30px;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: $radius;
}

