@import '../../sass/variables';

main {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left, .right {
  border: 3px solid whitesmoke;
  margin: 0px 5px 0px 5px;
  padding: 20px;
}

section {
}

h3 {
  text-align: center;
}

.all-friends, .all-guests {
  display: flex;
  flex-direction: row;
}

.avatar {
  height: 60px; width: 60px;
  border-radius: $radius;
}

.friend, .guest {
  margin: 10px;
  h3 {
    text-align: center;
  }
}

.find-friends-form {
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-field {
  width: 70%;
}

.find-friend-submit {
  height: 60px;
  margin: 5px;
}

.user-icon {
  height: 30px; width: 30px;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: $radius;
}

.txt-option {
}

