<main>

<header>
  <h1 class='mat-h1' routerLink="/collection/new" matTooltip="Add a game to your collection" 
    mat-button>
    Collection ({{collection.length}} games)
  </h1>
  <button routerLink="/collection/new" matTooltip="Add a game to your collection" 
    mat-button class='add-button'>
    <!-- <mat-icon>add</mat-icon> -->
    New
  </button>
</header>

<div class='collection-container'>
  <div *ngFor='let game of collection' class="game-container">
      <p class='mat-typography'>
        {{
          (game.name.length > 25) 
          ? 
          (game.name | slice:0:25) + '..'
          :
          (game.name) 
         }}
       </p>
      <div class='game-image-container'>
        <img src={{game.thumbnail}} />
      </div>
  </div>
</div>

</main>
