<main>
<form class="example-form">

  <mat-form-field class="example-full-width" appearance='outline'>
    <input type="text" placeholder="Search for a title on boardgamegeek" 
           #searchBox
           matInput 
           [formControl]="searchControl" 
           [matAutocomplete]="searchAuto" 
           (keyup)="search(searchBox.value)">

    <mat-autocomplete #searchAuto="matAutocomplete">
      <mat-option *ngFor="let option of searchOptions | async" [value]="option.name" 
        (click)='getGameByBGGId(option.id)'>
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</form>

<p class='or'><small class='mat-typography'>or</small></p>

<form (ngSubmit)="getGameByBGGId(bggIdInput.value)" class="example-form">
  <mat-form-field class="example-full-width" appearance='outline'>
    <input #bggIdInput type="text" placeholder="Enter a boardgamegeek game id" matInput 
    [formControl]="bggIdControl">
  </mat-form-field>

  <button mat-button type="submit">Enter</button>
</form>

<div *ngIf="gameResult" matTooltip="CLICK TO ADD THIS AMAZING GAME" class='game-result'
  (click)="addToCollection()">
  <p class='mat-typography'>{{gameResult.name}} {{gameResult.yearPublished}}</p>
  <div class='result-image-container'>
    <img src={{gameResult.image}} />
  </div>
</div>

</main>
